body{
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a,p,span{
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
}

h2{
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-bottom: solid 8px var(--primary);
    height: 45px;
}

h3{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

:root{
    --primary: #87B268;
    --secondary: #636641;
    --bgColor: #141013;
    --action: #BCABB4;
}

.ml-100{
    margin-left: 100px;
}

.navbar{
    display: flex;
    padding: 95px;
}

.navbar a{
    margin: 10px;
    border-bottom: solid 5px var(--primary);
}

.flut_object{
    position: absolute;
    right: -700px;
    top: -760px;
}

.flut_object img{
    width: 1440px;
    height: 1370px;
    transform: rotate(-41.528deg);
}

.c_about,.c_project,.c_skill{
    margin-left: 100px;
    margin-top: 80px;
}

.c_about h2{
    width: 140px;
}

.c_about p{
    width: fit-content;
    margin-right: 30px;
    height: 100px;
    margin-left: 20px;
}

.c_project h2{
    width: 285px;
}

.canv_object{
    position: absolute;
    right: 100px;
    top: 585px;
}

.c_project svg{
    stroke-width: 6px;
    stroke: #1DC488;
    width: 485px;
    height: 408.5px;
    flex-shrink: 0;
}

.gallery_proj{
    display: flex;
    width: 1200px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-right: 55px;
}

.gallery_item{
    width: 288.75px;
    height: 288.75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('../assets/sample/sample_1.png'), lightgray 50% / cover no-repeat;
}

.c_skill{
    margin-top: 25px;
}

.c_skill h2{
    width: 135px;
}

.container_skill{
    display: flex;
    margin-top: 65px;
    margin-left: 70px;
}

.obj_skill svg{
    position: absolute;
    z-index: 0;
    width: 116px;
    height: 281px;
    flex-shrink: 0;
    
}

.obj_skill_2 svg{
    position: absolute;
    z-index: 0;
    width: 116px;
    height: 146px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #259ED2;
    
}

.skill_item{
    position: relative;
}

.content_skill{
    margin-left: 10px;
}

.content_skill h3{
    margin-bottom: 7px;
}

.skillbar{
    border-radius: 50px;
    background: #141013;
    border-radius: 100px;
    background: linear-gradient(180deg, #BCABB4 0%, #F1EEEF 100%);
    width: 200px;
    height: 10px;
    flex-shrink: 0;
}

.skillbar div{
    height: 10px;
    flex-shrink: 0;
    border-radius: 100px;
}

/*footer*/

.footer{
}

.obli_obj{
    width: 1476.916px;
    height: 86.87px;
    transform: rotate(3deg);
    flex-shrink: 0;
}

.content_footer{
    width: 1634px;
    height: 153px;
    flex-shrink: 0;
    background: #87B268;
}

.copy_footer{
    width: 1442px;
    height: 56px;
    flex-shrink: 0;
    background: #87B268;
}