body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: #fff;
}

h1 {
    margin: 0;
}

:root {
    --background: #000;
}

.background_image {
    background-image: url(img/background.jpg);
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_image .sm_title {
    font-family: 'Chivo Mono', monospace;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    font-size: 60px;
}