html{
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

main {
  margin: 0 auto;
  width: 1400px;
}

@media screen and (max-width: 1400px) {
  main {
    margin: 10px;
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  main {
    margin: 10px;
    width: 600px;
  }

  img[src*=".svg"] {
    display: none;
  }
  
  svg{
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .containerWorks {
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;
    
  }

  .imageWork{
    align-items: center;
    flex-direction: column !important;
  }

  main{
    width: 50vb;
  }

  .containerAbout{
    align-items: center !important;
    justify-content: center;
  }

  .containerArrow{
    margin-top: 200px;
    margin-bottom: 500px;
  }

  .containerWelcome{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}
